/* 自定义样式 */
.message {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: fit-content;
    word-wrap: break-word;
    max-width: 100%;
}

.chat-box {
    display: flex;
    flex-direction: column;
    /* 垂直方向的 Flex 布局 */
    height: 75vh;
    /* 设置聊天区域的高度 */

}

.message .message-content {
    width: auto;
    /* 让消息框自适应宽度 */
    max-width: 100%;
    /* 限制消息框最大宽度 */
}

.sent {
    background-color: #f2f2f2;
    color: #000;
    text-align: left;
    align-self: flex-end;
}

.received {
    background-color: #007bff;
    color: #fff;
    text-align: left;
    align-self: flex-start;
}

.warning-message {
    color: red;
}